{% load static %}
    

<div class="box">
    <div class="untitled">
      <div class="untitled__slides">
        <div class="untitled__slide">
          <div class="untitled__slideBg">
            <!-- <img src="{% static 'images/img.png' %}"> -->

          </div>
          <div class="untitled__slideContent">
            <span>NIKE</span>
            <span>ABCD</span>
            <a class="button" href="#" target="/black">buy </a>
          </div>
        </div>
        <div class="untitled__slide">
          <div class="untitled__slideBg">
            <!-- <img src="{% static 'images/img.png' %}"> -->
          </div>
          <div class="untitled__slideContent">
    
            <span>NIKE</span>
            <span>AIR</span>

            <a class="button" href="#" target="/black">buy </a>
          </div>
        </div>
        <div class="untitled__slide" >
          <div class="untitled__slideBg">
            <!-- <img src="{% static 'images/abc.jpg' %}"> -->

          </div>
          <div class="untitled__slideContent">
            <span>NIKE</span>
            <span>AIR4</span>
            <a class="button" href="#" target="/black">buy</a>
          </div>
        </div>
        <div class="untitled__slide">
          <div class="untitled__slideBg">
            <!-- <img src="{% static 'images/download.jpg' %}"> -->
          </div>
          <div class="untitled__slideContent">
            <span>NIKE</span>
            <span>HDWB</span>

            <a class="button" href="#" target="/black">buy</a>
          </div>
        </div>
      </div>
      <div class="untitled__shutters"></div>
    </div> 

  </div>
  